/* General */
* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.vh-50 {
  height: 50vh;
}


/* Style */

.home {
  background-image: linear-gradient(to right, #0327c76b, #065fb857), url(../imgs/quote-bg.avif);
  /* background-image: url(../imgs/quote-bg.avif); */
}

.t-head {
  position: relative;
  display: inline-block;
}

.t-head::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 200px;
  background-color: #DC3545;
}

.quote-box {
  background-color: #dee2e6;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.119);
}

.quote-text {
  font-size: 1.25rem;
  font-style: italic;
  color: #333;
  font-weight: 500;
}

.quote-author {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.bg-body-tertiary {
  background-color: rgb(239 239 239);
}
